.ballCanvas {
  border: 2px solid blue;
  position: absolute;
  left: 0;
  top: 0;
}

.foodCanvas {
  position: absolute;
  left: 0;
  top: 0;
}

.gridCanvas {
  position: absolute;
  left: 0;
  top: 0;
}